include *.rst
include *.txt
include .coveragerc
include LICENSE
include tox.ini
recursive-include tests *.py
recursive-include tests *.tnef

include *.py
recursive-include scripts *.py
recursive-include data *.txt
